@import '../../../styles/variable';

.loading {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    font-weight: 500;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #9966ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
